/* Данная стилизация делает все абзацы синими */
p {
   color: blue;
}
/* данный класс  делает все элементы Жирными */
.something {
    font-weight: bolder;
    font-size: larger;
}
/* Данный айди делает элемент красным */
#red {
    color: red;
}
/* данный класс  перемещает все элементы на лево */
#left {
    text-align: left;
}
/* данный айди перемещает все элементы на право */
.right {
    text-align: right;
}