@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


.roboto-uniquifier {
  font-family: "Roboto", sans-serif;
}
.gravitas-one-regular {
  font-family: "Gravitas One", serif;
}
@font-face {
   font-family: "Bitcount Single";
   src: url(static/BitcountSingle-Bold.ttf);
}
.p{
    font-family: "Bitcount Single";
}

