/*Используем `px` для задания точных размеров элементов  */
.px {
    width: 100px;
    height: 100px;
}
/*Применяем `em` для задания относительных размеров шрифта внутри контейнера  */
.em {
    font-size: 2em;
}
/*Используем `rem` для задания размеров относительно корневого элемента  */
.rem {
    font-size: 2rem;
}
/*Применяем `%` для задания ширины контейнеров относительно их родителя  */
.percent {
   width: 50%; 
   height: 50%;
   font-size: 50%;
}

.medium {
    font-size: medium;
}
html {
    font-size: 16px;
}
.big {
    width: 500px;
    height: 200px;
    font-size: 30px;
}
/*Задаем цвет фона с помощью шестнадцатеричной системы (`hex`)  */
body {
    background-color: #F193;
}
/*Используем модель `rgb` для задания цветов фона и текста */
h2 {
    color: rgb(33, 140, 156);
}
/*Применяем модель `rgba` для добавления прозрачности к цветам  */
h1 {
    color: rgba(221, 130, 20, 0.405)
}