.useless {
    font-weight: 500;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: -1px;
    text-align: center;
}
.Grid {
    padding: 140px 370px 50px 370px;
    display: grid;
    grid-template-columns: 380px 380px 380px;
    grid-row-gap: 20px;
    grid-column-gap: 20px; 
}
.cardblock {
    width: 380px;
    height: 582px;
    display: flex;
    flex-direction: column;
    margin-left: 35px;
    background-color: #C2C6D00F;
}
.info {
    width: 380px;
    height: 337px;
    border: 1px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #FFFFFF;
    border-color: #F2F6FA;
    gap: 24px;
    padding-top: 50px;
}
.title {
    width: 247px;
    height: 35px;
    font-weight: 700;
    font-size: 24px;
    color: #2E363E;
    margin-left: 44px;
    padding-bottom: 12px;
    line-height: 143%;
}
.description {
    width: 240px;
    height: 48px;
    font-weight: 400;
    font-size: 16px;
    color: #2E363E;
    margin-left: 44px;
    padding-bottom: 24px;
    line-height: 150%;
}
.price {
    width: 108px;
    height: 36px;
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    color: #434B53;
    margin-left: 44px;
    padding-bottom: 14px;
}
.button {
    width: 163px;
    height: 68px;
    border-radius: 8px;
    gap: 10px;
    background-color: #FED84C;
    font-weight: 500;
    font-size: 18px;
    line-height: 152%;
    color: #2E363E;
    border-color: #FED84C;
    margin-left: 44px;
    border: none;
    display: flex;
    flex-direction: row;
    padding: 20px 40px 20px 40px;
}