body {
    background-color: #1c1b1be7;
}
.frame1 {
    background-color: #000000;
    display: flex;
    width: 1300px;
    height: 545px;
    border-radius: 32px;
    align-items: center;
    padding: 40.44px 40px 39.56px 40px;
}

.cardblock {
    width: 778px;
    height: 465px;
    padding-left: 53px;
}

.badge {
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
    width: fit-content;
    height: 27px;
    margin-top: 7.56px;
    border-radius: 6px;
    background-color: #191919;
    border: none;
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 48.44px;
}

.episode {
    width: fit-content;
    height: 27px;
    color: #118DA8;
    font-weight: 400;
    font-size: 17px;
    line-height: 27px;
    gap: 5px;
    margin-bottom: 18px;
}

.title {
    width: 701px;
    height: 141px;
    color: #FFFFFF;
    font-weight: 400px;
    font-size: 64px;
    line-height: 70.4px;
    gap: 2.56px;
    margin-bottom: 28px;
}

.subtitle {
    width: 757px;
    height: 99px;
    font-weight: 400px;
    font-size: 22px;
    line-height: 33px;
    color: #FFFFFFB2;
    margin-bottom: 18px;
}

.button {
    width: 208;
    height: 51px;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
    border-radius: 6px;
    background-color: #118DA8;
    border: none;
    padding: 12px 15px 12px 15px;
}

.frame2 {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #E1EDE6;
    width: fit-content;
    height: fit-content;
    margin-left: 35px;
    padding: 20px 20px 30px 20px 
}

.author {
    width: 93px;
    height: 19px;
    padding-top: 15px;
    color: #86928B;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    padding-bottom: 10px;
}

.name {
    width: 200px;
    height: 28px;
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    color: #2C2D35;
    padding-bottom: 10px;
}

.material {
    width: 250px;
    height: 19px;
    font-weight: 500;
    font-size: 16px;
    color: #2C2D35;
    padding-bottom: 30px;
}

.price {
    width: 103px;
    height: 23px;
    font-weight: 500;
    font-size: 20px;
    color: #598D66;
    padding-bottom: 10px;
}

.button2 {
    width: 250px;
    height: 50px;
    border: 1px solid;
    gap: 6px;
    color: #598D66;
    border-color: #598D66;
    background-color: #E1EDE6;
    font-weight: 500;
    font-size: 18px;
}
.frame3 {
    width: 380px;
    height: 582px;
    display: flex;
    flex-direction: column;
    margin-left: 35px;
    background-color: #C2C6D00F;
}
.cardblock3 {
    width: 380px;
    height: 337px;
    border: 1px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #FFFFFF;
    border-color: #F2F6FA;
    gap: 24px;
    padding-top: 50px;
}
.title3 {
    width: 247px;
    height: 35px;
    font-weight: 700;
    font-size: 24px;
    color: #2E363E;
    margin-left: 44px;
    padding-bottom: 12px;
    line-height: 143%;
}
.subtitle3 {
    width: 240px;
    height: 48px;
    font-weight: 400;
    font-size: 16px;
    color: #2E363E;
    margin-left: 44px;
    padding-bottom: 24px;
    line-height: 150%;
}
.price3 {
    width: 108px;
    height: 36px;
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    color: #434B53;
    margin-left: 44px;
    padding-bottom: 14px;
}
.button3 {
    width: 163px;
    height: 68px;
    border-radius: 8px;
    gap: 10px;
    background-color: #FED84C;
    font-weight: 500;
    font-size: 18px;
    line-height: 152%;
    color: #2E363E;
    padding: 20px 40px 20px 40px;
    border-color: #FED84C;
    margin-left: 44px;
    border: none;
}
.frame4 {
    width: 330px;
    height: 400px;
    display: flex;
    flex-direction: column;
    margin-left: 35px;
    margin-top: 50px;
    background-color: #0C0B15;
}
.up {
    display: flex;
    flex-direction: row;
    gap: 191.79px;
    margin-left: 27.21px;
    margin-right: 23px;
    margin-top: 23px;
}
.info {
    padding-top: 18.3px;
    width: 96px;
    height: 27px;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    color: #FFFFFF;
    margin-left: 26.5px;
    padding-bottom: 24.37px;
}
.author4 {
    width: 262px;
    height: 22px;
    margin-left: 26.5px;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #809FB8;
    padding-bottom: 26.63px;
}
.subtitle4 {
    width: 260px;
    height: 147px;
    font-weight: 600;
    margin-left: 26.5px;
    font-size: 16px;
    line-height: 21px;
    color: #809FB8;
}
.button4 {
    text-decoration: none;
    background-color: #0C0B15;
    width: 28px;
    height: 6px;
    color: #99B2C6;
    border: none;
}