.box-shadow {
    box-shadow: 5px 5px 2px rgb(37, 37, 37);
    border: 40px solid;
    background-color: rgb(25, 24, 24);
    width: 20px;
    border-color: rgb(25, 24, 24);
}
.all {
    gap: 20px;
    display: flex;
    flex-direction: row;
}
.box-shadow2 {
    box-shadow: 10px 10px 5px 2px rgb(49, 25, 102);
    border: 40px solid;
    background-color: rgb(78, 45, 127);
    width: 20px;
    border-color: rgb(78, 45, 127);
}
.linear-gradient {
    background: linear-gradient(to top, rgb(107, 8, 85), rgb(24, 132, 205)); 
    width: 120px;
    height: 120px;
}
.linear-gradient2 {
    width: 120px;
    height: 120px;
    background: linear-gradient(to left, rgb(216, 110, 35), rgb(58, 147, 226));
}
.radial-gradient {
    background: radial-gradient(circle, rgb(36, 27, 159), rgb(191, 64, 64));
    width: 120px;
    height: 120px;
}
.radial-gradient2 {
    background: radial-gradient(circle 50px at center, rgb(20, 160, 104), rgb(27, 85, 156));
    width: 120px;
    height: 120px;
}
