* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #191919;
    color: #FFFFFF;
}

.header {
    display: flex;
    align-items: center;
    padding: 40px 50px 10px 50px;
    justify-content: space-between;
    height: 67px;
}

.nav {
    font-weight: 400;
    font-size: 17px;
    line-height: 27px;
    color: #FFFFFF;
    display: flex;
    gap: 40px;
}

.nav a {
    text-decoration: none;
}

.nav a:hover {
    color: #118DA8;
}

.frame2 {
    height: 913px;
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 40px 70px 0.44px 130px;
    gap: 60px;
}

.cardblock {

    display: flex;
    flex-direction: column;
}

.Info {
    font-weight: 400;
    font-size: 70px;
    line-height: 88px;
    letter-spacing: 3.2px;
    margin-bottom: 74px;
}

.box {
    font-weight: 400;
    font-size: 75px;
    line-height: 88px;
    letter-spacing: 3.2px;
    color: #FFFFFF;
}

.listen_on {
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    line-height: 24px;
    color: #FFFFFF;
    padding-bottom: 16px;
}

.header2 {
    padding: 100.44px 70px 40px 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.last_episodes {
    font-weight: 400;
    font-size: 64px;
    line-height: 79.2px;
    letter-spacing: 2.88px;
    height: 80px;
}

.button {
    height: 51px;
    font-weight: 400;
    font-size: 17px;
    line-height: 27px;
    border-radius: 6px;
    border: none;
    background-color: #118DA8;
    color: #FFFFFF;
    width: 178px;
}

.frame4 {
    display: flex;
    border-radius: 32px;
    align-items: center;
    background-color: #000000;
    border: none;
    margin: 40px 70px 60px 70px;
    height: 545px;
    padding: 40px 40px 40px 40px;

}

.cardblock {
    display: flex;
    flex-direction: column;
    height: 465px;
    padding-left: 53px;
}

.badge {
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
    width: fit-content;
    height: 27px;
    margin-top: 7.56px;
    border-radius: 6px;
    background-color: #191919;
    border: none;
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 48.44px;
}

.Episodes {
    width: fit-content;
    height: 27px;
    color: #118DA8;
    font-weight: 400;
    font-size: 17px;
    line-height: 27px;
    gap: 5px;
    margin-bottom: 18px;
}

.title {
    width: 701px;
    height: 141px;
    color: #FFFFFF;
    font-weight: 400px;
    font-size: 64px;
    line-height: 70.4px;
    gap: 2.56px;
    margin-bottom: 28px;
}

.subtitle {
    width: 757px;
    height: 99px;
    font-weight: 400px;
    font-size: 22px;
    line-height: 33px;
    color: #FFFFFFB2;
    margin-bottom: 18px;
}

.button2 {
    width: fit-content;
    height: 51px;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
    border-radius: 6px;
    background-color: #118DA8;
    border: none;
    padding: 12px 15px 12px 15px;
}

.frame5 {
    display: flex;
    border-radius: 32px;
    align-items: center;
    background-color: #000000;
    border: none;
    margin: 60px 70px 60px 70px;
    height: 545px;
    padding: 40px 40px 40px 40px;
}

.frame6 {
    display: flex;
    border-radius: 32px;
    align-items: center;
    background-color: #000000;
    border: none;
    margin: 60px 70px 160px 70px;
    height: 545px;
    padding: 40px 40px 40px 40px;
}

.frame7 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 100.44px 70px 100.13px 70px;
    gap: 60px;
}

.host {
    display: flex;
    flex-direction: column;
    height: 448px;
}

.meet_host {
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #118DA8;
    padding-top: 20px;
    padding-bottom: 0px;
}

.Jacob {
    font-weight: 400;
    font-size: 65px;
    line-height: 79.2px;
    letter-spacing: 2.88px;
    padding-bottom: 28px;
}

.bio {
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
    color: #FFFFFFB2;
    padding-bottom: #FFFFFFB2;
}

.bio2 {
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
    color: #FFFFFFB2;
}

.frame8 {
    display: flex;
    flex-direction: row;
    border-radius: 32px;
    align-items: center;
    border: 0px solid;
    border-color: #000000;
    background-color: #000000;
    text-align: center;
    justify-content: space-between;
    height: 387px;
    margin: 100px 70px 100px 70px;
    padding: 59.12px 60px 57.12px 60px;
    align-items: flex-start;

}

.Subscribe {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.news {
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #118DA8;
}

.updates {
    font-weight: 400;
    font-size: 72px;
    line-height: 79.2px;
}

.log_in {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 522px;
    margin-left: 76px;
    height: 252px;
    gap: 20px;
}

.name {
    font-weight: 400;
    font-size: 24px;
    line-height: 28.8px;
    border-radius: 6px;
    border: 1px solid;
    background-color: #191919;
    border-color: #191919;
    height: 82px;
    width: 522px;
    padding: 19px;
    color: #FFFFFF;
}

.email {
    font-weight: 400;
    font-size: 24px;
    line-height: 28.8px;
    border-radius: 6px;
    border: 1px solid;
    background-color: #191919;
    border-color: #191919;
    height: 82px;
    width: 522px;
    padding: 19px;
    color: #FFFFFF;
}
.button3 {
    font-weight: 700;
    font-style: Bold;
    font-size: 15px;
    line-height: 28.8px;
    color: #FFFFFFB2;
    border-radius: 6px;
    border: none;
    border-color: #118DA8;
    background-color: #118DA8;
    height: 48px;
    width: 87px;
}
.frame9 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    height: 901px;
}
.rates {
    display: flex;
    flex-direction: row;
    gap: 16px;
    margin: 0px 70px 16px 70px;
}
.rate {
    display: flex;
    flex-direction: column;
    border-radius: 32px;
    border: none;
    background-color: #000000;
    padding-left: 50px;
    height: 321px;
    padding-top: 54px;
    padding-bottom: 51px;
    padding-right: 60px;
    width: 423px;
}
.review {
    font-weight: 400;
    font-size: 36px;
    line-height: 43.2px;
    padding-top: 21px;
    padding-bottom: 19px;
}
.reviewer {
    font-weight: 400;
    font-size: 24px;
    line-height: 28.8px;
    color: #FFFFFFB2;
}
.rates2 {
    display: flex;
    flex-direction: row;
    gap: 16px;
    margin: 0px 70px 100px 70px;
}
.rate2 {
    display: flex;
    flex-direction: column;
    border-radius: 32px;
    border: none;
    background-color: #000000;
    padding-left: 50px;
    height: 364px;
    padding-top: 54px;
    padding-bottom: 51px;
    padding-right: 60px;
    width: 423px;
}
.frame10 {
    display: flex;
    flex-direction: row;
    padding: 100px 70px 100px 70px;
    height: 438px;
}
.logos2 {
    display: flex;
    flex-direction: column;
    padding-bottom: 245.02px;
    padding-right: 223.14px;
    gap: 19.98px;
}
.nav2 {
    display: flex;
    flex-direction: column;
    font-weight: 400;
    font-size: 17px;
    line-height: 27px;
    color: #FFFFFF;
    text-decoration: none;
    gap: 10px;
    padding-right: 103.98px;
}
.nav3 {
    display: flex;
    flex-direction: column;
    font-weight: 400;
    font-size: 17px;
    line-height: 27px;
    color: #FFFFFF;
    text-decoration: none;
    gap: 10px;
    padding-right: 20.83px;
}

