.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 40px;
    padding-bottom: 12px;
    padding-right: 40px;
    padding-top: 12p;
    background-color: #FFFFFF;
    width: 1440px;
    height: 65px;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
}

.header__nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 649px;
    height: 41px;
    gap: 120px;
    padding-left: 40px;
    padding-bottom: 12px;
    padding-right: 40px;
    padding-top: 12p;
}

.header__search {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 352px;
    border: 1px solid;
    gap: 10px;
    border-radius: 8px;
    border-color: #DFDFDF;
    padding: 12px;
}

.header__search input {
    border: none;
    outline: none;
}

.header__nav2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 501px;
    height: 41px;
    gap: 40px;
    text-decoration: none;
}
.header__nav2 a {
    text-decoration: none;
    color: #000000;
}

.header__nav2 a:hover {
    color: #5C53E9;
}

.header__nav2 a {
    gap: 40px;
}

.header__button {
    width: 121px;
    height: 41px;
    border-radius: 8px;
    padding: 12px;
    background-color: #000000;
    color: #FFFFFF;
}
.header__buttons {
    display: flex;
    flex-direction: row;
    padding: 10px;
    align-items: center;
    gap: 8px;
}

.header__button2 {
    width: 46px;
    height: 20px;
    border-radius: 8px;
    background-color: #5C53E9;
    color: #ffffff;
    padding: 10px;
    text-align: center;

}
.header4-5 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 36px;
    padding-bottom: 12px;
    padding-right: 36px;
    padding-top: 12px;
    background-color: #111928;
    width: 1440px;
    height: 80px;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    color: #ffffff;
    border-radius: 10px;
}

.header4-5__nav3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 405px;
    height: 19px;
    gap: 50px;
    text-decoration: none;
}

.header4-5__nav3 a {
    text-decoration: none;
    color: #ffffff;
}

.header4-5__nav3 a {
    gap: 40px;
}
.header4-5__search {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    border: 1px solid;
    border-radius: 10px;
    border-color: #D6D8DE;
    padding-left: 20px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-top: 10px;
    width: 500px;
    background-color: #111928;
    text-decoration: none;
}

.header4-5__nav5 {
    display: flex;
    width: 113.69999694824219px;
    height: 30px;
}

.header4-5__input {
    text-decoration: none;
    background-color: #111928;
    color: #FFFFFF;
    text-decoration: none;
    border: 0px;
    outline: none;
}
#border3 {
    border-radius: 10px;
}

